@import url('./base.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "ZhuqueFangsong-Regular", "Microsoft YaHei";
  font-weight: 500;
}

.user-select-none {
  user-select: none;
}

html{
  font-size: 16px;  
}
body, #app {
  overflow: hidden;
}

.el-drawer__body {
  background-color: var(--sidebar-background-color);
  color: var(--sidebar-color);
  user-select: none;
}
.el-drawer{
  height: calc(100vh - var(--titlebar-height)) !important;
  top: var(--titlebar-height) !important;
}
.el-message{
  user-select: none;
}
.el-message-box__message{
  width: 100%;
}
.el-badge__content{
  font-family: Inter, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, 微软雅黑, Arial, sans-serif;
}
.el-table-v2__right{
  box-shadow: rgba(17, 17, 26, 0.1) -1px 0px 0px!important;
}
.el-popper.is-table {
  padding: 6px 12px;
  background: var(--app-them-color);
  color: var(--app-color);
  border: 1px solid rgba(var(--app-box-shadow-color), 0.2);
  box-shadow: 1px 2px 12px 0 rgba(var(--app-box-shadow-color), 0.05);
}
.el-popper.is-table .el-popper__arrow::before {
  background: var(--app-them-color);
  border-right: 1px solid rgba(var(--app-box-shadow-color), 0.2);
  border-bottom: 1px solid rgba(var(--app-box-shadow-color), 0.2);
  box-shadow: 6px 6px 12px 0 rgba(var(--app-box-shadow-color), 0.05);
  right: 0;
}
.el-anchor{
  background-color: transparent !important;
}
html.dark .el-input__wrapper{
  background-color: #292929!important;
}
:root{
  --el-menu-base-level-padding: 10px !important;
  --el-menu-icon-width: 36px !important;
}
